

body {background-color: #29324b;}
h1 {color:rgb(193, 226, 255)}
h2 {color:rgb(193, 226, 255)}
p {color:rgb(194, 225, 255)}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  <style>
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>